<p>
	<strong>First Name:</strong>
	<%= @user.first_name %>
</p>

<p>
	<strong>Last Name:</strong>
	<%= @user.last_name %>
</p>

<p>
	<strong>Date of Birth:</strong>
	<%= @user.dob %>
</p>

<p>
	<strong>User Roles:</strong>
	<%= @user.role_list %>
</p>

<p>
	<strong>Marital Status:</strong>
	<%= @user.marital_status %>
</p>

<p>
	<strong>Social Insurance Number:</strong>
	<%= @user.sin %>
</p>

<p>
	<strong>Hire Date:</strong>
	<%= @user.hire_date %>
</p>

<p>
	<strong>Preferences:</strong>
	<%= @user.prefs %>
</p>

<% if @user.can_add_hours? %>
	<p>This user can add hours to an employee's timesheet.</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>